DATABASE_URL=postgres://postgres:postgres@localhost:5432/talaria_development
RAILS_ENV=development
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=
S3_ENDPOINT=
VECTOR_TILES_ENABLED=false
